<div class="formulario">
    <h1 class="jumbotron text-center header">Form</h1>

    <div>
        <ul class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            &nbsp;
            /
            &nbsp;
            <li class="active">
                <a href="/author/index">List of Authors</a>
            </li>
            &nbsp;
            /
            &nbsp;
            <li class="active">
                Create Authors
            </li>
        </ul>
    </div>

    <div class="form col-lg-6">
        <form novalidate name="form" ng-submit="toSubmit()">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text"
                       class="form-control"
                       id="firstName"
                       name="firstName"
                       ng-model="author.firstName"
                       autocomplete="off"
                       required
                >
                <span ng-show="form.$submitted && form.firstName.$error.required"
                      class="help-block">
                "Fist Name" can't be blank
            </span>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text"
                       class="form-control"
                       id="lastName"
                       name="lastName"
                       ng-model="author.lastName"
                       autocomplete="off"
                       required
                >
                <span ng-show="form.$submitted && form.lastName.$error.required"
                      class="help-block">
                "Last Name" can't be blank
            </span>
            </div>

            <button type="submit" class="btn btn-primary">
                Salve
            </button>
            <a href="author/index/" class="btn btn-primary">Back</a>
        </form>
    </div>
</div>